In [1]:
from sklearn.datasets import load_files
import pandas as pd
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm", disable=['parser', 'ner'])

In [3]:
df1 = pd.read_csv('datasets/articles1.csv', index_col=0).head(500)
df2 = pd.read_csv('datasets/articles2.csv', index_col=0).head(500)
df3 = pd.read_csv('datasets/articles3.csv', index_col=0).head(500)

In [4]:
df1.count

<bound method DataFrame.count of         id                                              title     publication  \
0    17283  House Republicans Fret About Winning Their Hea...  New York Times
1    17284  Rift Between Officers and Residents as Killing...  New York Times
2    17285  Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...  New York Times
3    17286  Among Deaths in 2016, a Heavy Toll in Pop Musi...  New York Times
4    17287  Kim Jong-un Says North Korea Is Preparing to T...  New York Times
..     ...                                                ...             ...
495  17846  The Guide to Being an Airbnb Superhost - The N...  New York Times
496  17847  The Matriarch Behind Beyoncé and Solange - The...  New York Times
497  17848  Quicken Loans, the New Mortgage Machine - The ...  New York Times
498  17849  Off Long Island, Wind Power Tests the Waters -...  New York Times
499  17850  Pakistani Taliban Claim Deadly Market Bombing ...  New York Times

                            author        date    year  month  url  \
0                       Carl Hulse  2016-12-31  2016.0   12.0  NaN
1    Benjamin Mueller and Al Baker  2017-06-19  2017.0    6.0  NaN
2                     Margalit Fox  2017-01-06  2017.0    1.0  NaN
3                 William McDonald  2017-04-10  2017.0    4.0  NaN
4                    Choe Sang-Hun  2017-01-02  2017.0    1.0  NaN
..                             ...         ...     ...    ...  ...
495                  Brian X. Chen  2017-01-12  2017.0    1.0  NaN
496                   Alex Hawgood  2017-01-25  2017.0    1.0  NaN
497                 Julie Creswell  2017-01-29  2017.0    1.0  NaN
498                 Diane Cardwell  2017-01-29  2017.0    1.0  NaN
499  Salman Masood and Ismail Khan  2017-01-21  2017.0    1.0  NaN

                                               content
0    WASHINGTON  —   Congressional Republicans have...
1    After the bullet shells get counted, the blood...
2    When Walt Disney’s “Bambi” opened in 1942, cri...
3    Death may be the great equalizer, but it isn’t...
4    SEOUL, South Korea  —   North Korea’s leader, ...
..                                                 ...
495  IN my spare time, when not writing about consu...
496  For sisters in the public eye, Beyoncé and Sol...
497  DETROIT  —   A low buzz fills the air as an ar...
498  Only a few years ago, the   dream of harnessin...
499  ISLAMABAD, Pakistan  —   A bombing killed at l...

[500 rows x 9 columns]>

In [5]:
df2.count

<bound method DataFrame.count of           id                                              title publication  \
53293  73471  Patriots Day Is Best When It Digs Past the Her...    Atlantic
53294  73472  A Break in the Search for the Origin of Comple...    Atlantic
53295  73474         Obama’s Ingenious Mention of Atticus Finch    Atlantic
53296  73475         Donald Trump Meets, and Assails, the Press    Atlantic
53297  73476               Trump: ’I Think’ Hacking Was Russian    Atlantic
...      ...                                                ...         ...
53790  74089                           ’Give Us Your Passwords’    Atlantic
53791  74090                  Radicalization and the Travel Ban    Atlantic
53792  74091  From Legal Lows to Court-Side Foes: This Week’...    Atlantic
53793  74092  Katy Perry Proclaims a New Era of ’Purposeful ...    Atlantic
53794  74093  Trump’s Interests vs. America’s, Dominican Rep...    Atlantic

                  author        date    year  month  url  \
53293         David Sims  2017-01-11  2017.0    1.0  NaN
53294            Ed Yong  2017-01-11  2017.0    1.0  NaN
53295  Spencer Kornhaber  2017-01-11  2017.0    1.0  NaN
53296    David A. Graham  2017-01-11  2017.0    1.0  NaN
53297      Kaveh Waddell  2017-01-11  2017.0    1.0  NaN
...                  ...         ...     ...    ...  ...
53790      Kaveh Waddell  2017-02-10  2017.0    2.0  NaN
53791         Nada Bakos  2017-02-10  2017.0    2.0  NaN
53792     Hayley Glatter  2017-02-10  2017.0    2.0  NaN
53793  Spencer Kornhaber  2017-02-10  2017.0    2.0  NaN
53794      Jeremy Venook  2017-02-10  2017.0    2.0  NaN

                                                 content
53293  Patriots Day, Peter Berg’s new thriller that r...
53294  In Norse mythology, humans and our world were ...
53295  “If our democracy is to work in this increasin...
53296  Updated on January 11 at 5:05 p. m. In his fir...
53297  Updated at 12:25 p. m. After months of equivoc...
...                                                  ...
53790  That’s what U. S. Homeland Security Secretary ...
53791  To make his case, he   several quotes from cou...
53792  Ryan Avent | 1843 Magazine, Instead of increas...
53793  , A   disco anthem imploring the listener to d...
53794  As was true with the Aberdeen plans, the Trump...

[500 rows x 9 columns]>

In [6]:
df3.count

<bound method DataFrame.count of             id                                              title publication  \
103459  151908  Alton Sterling’s son: ’Everyone needs to prote...    Guardian
103460  151909  Shakespeare’s first four folios sell at auctio...    Guardian
103461  151910  My grandmother’s death saved me from a life of...    Guardian
103462  151911  I feared my life lacked meaning. Cancer pushed...    Guardian
103463  151912  Texas man serving life sentence innocent of do...    Guardian
...        ...                                                ...         ...
103954  152565  (((Echoes))): beating the far-right, two tripl...    Guardian
103955  152566  I am a Muslim doctor. I saved a Christian in P...    Guardian
103956  152568  France 2-1 Romania: Euro 2016 opening game – a...    Guardian
103957  152569  The horrors of 2016 could have been stopped – ...    Guardian
103958  152570  Cereal Killer cafe: what will Birmingham make ...    Guardian

                 author        date    year  month  \
103459   Jessica Glenza  2016-07-13  2016.0    7.0
103460              NaN  2016-05-25  2016.0    5.0
103461    Robert Pendry  2016-10-31  2016.0   10.0
103462   Bradford Frost  2016-11-26  2016.0   11.0
103463              NaN  2016-08-20  2016.0    8.0
...                 ...         ...     ...    ...
103954     Zoe Williams  2016-06-12  2016.0    6.0
103955        Anonymous  2016-07-26  2016.0    7.0
103956       Paul Doyle  2017-02-20  2017.0    2.0
103957        Sam Kriss  2016-12-27  2016.0   12.0
103958  Stuart Jeffries  2016-10-13  2016.0   10.0

                                                      url  \
103459  https://www.theguardian.com/us-news/2016/jul/1...
103460  https://www.theguardian.com/culture/2016/may/2...
103461  https://www.theguardian.com/commentisfree/2016...
103462  https://www.theguardian.com/commentisfree/2016...
103463  https://www.theguardian.com/us-news/2016/aug/2...
...                                                   ...
103954  https://www.theguardian.com/technology/shortcu...
103955  https://www.theguardian.com/commentisfree/2016...
103956  https://www.theguardian.com/football/live/2016...
103957  https://www.theguardian.com/commentisfree/2016...
103958  https://www.theguardian.com/cities/2016/oct/13...

                                                  content
103459  The son of a Louisiana man whose father was sh...
103460  Copies of William Shakespeare’s first four boo...
103461  Debt: $20, 000, Source: College, credit cards,...
103462  It was late. I was drunk, nearing my 35th birt...
103463  A central Texas man serving a life sentence fo...
...                                                   ...
103954  Like many digital   (are we digital tourists? ...
103955  I am a Pakistani medical doctor, currently rec...
103956  Mission accomplished by France, who blended sl...
103957  There’s always a narrative. This year, it’s th...
103958  It’s been a year since the Cereal Killer cafe ...

[500 rows x 9 columns]>

In [7]:
def remove_nouns(texts):
    output = []
    for doc in nlp.pipe(texts):
        noun_text = " ".join(token.lemma_ for token in doc if token.pos_ == 'NOUN')
        output.append(noun_text)
    return output

In [62]:
df1['content'] = remove_nouns(df1['content'])
df2['content'] = remove_nouns(df2['content'])
df3['content'] = remove_nouns(df3['content'])

In [63]:
df1.head()

,id,title,publication,author,date,year,month,url,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,fear health care lawsuit administration admini...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,bullet shell blood dry candle people window cr...
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,critic style film appearance artist inspiratio...
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,death equalizer field endeavor loss sport deat...
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,leader country preparation test missile statem...

In [64]:
df2.head()

,id,title,publication,author,date,year,month,url,content
53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,thriller bombing manhunt movie filmmaker view ...
53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,mythology human world pantheon god realm story...
53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,democracy nation address night advice characte...
53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,p. m. press conference question news front con...
53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,p. m. month origin cyberattack election intrus...

In [65]:
df3.head()

,id,title,publication,author,date,year,month,url,content
103459,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,Jessica Glenza,2016-07-13,2016.0,7.0,https://www.theguardian.com/us-news/2016/jul/1...,son man father range police protester peace vi...
103460,151909,Shakespeare’s first four folios sell at auctio...,Guardian,NaN,2016-05-25,2016.0,5.0,https://www.theguardian.com/culture/2016/may/2...,book publishing m auction lot collector sale b...
103461,151910,My grandmother’s death saved me from a life of...,Guardian,Robert Pendry,2016-10-31,2016.0,10.0,https://www.theguardian.com/commentisfree/2016...,debt source college credit card time debt stan...
103462,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,Bradford Frost,2016-11-26,2016.0,11.0,https://www.theguardian.com/commentisfree/2016...,birthday dank college dorm room school reunion...
103463,151912,Texas man serving life sentence innocent of do...,Guardian,NaN,2016-08-20,2016.0,8.0,https://www.theguardian.com/us-news/2016/aug/2...,man life sentence murder codefendant prison st...

In [66]:
n_topics  = 10

In [67]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vec = TfidfVectorizer(max_features=5000, stop_words="english", max_df=0.95, min_df=2)
features1 = vec.fit_transform(df1.content)
features2 = vec.fit_transform(df2.content)
features3 = vec.fit_transform(df3.content)

from sklearn.decomposition import NMF
cls = NMF(n_components=n_topics, random_state=1)
cls.fit(features1)
cls.fit(features2)
cls.fit(features3)

NMF(n_components=10, random_state=1)

In [68]:
feature_names = vec.get_feature_names()
n_top_words = 15
for i, topic_vec in enumerate(cls.components_):
    print(i, end=' ')
    for fid in topic_vec.argsort()[-1:-n_top_words-1:-1]:
        print(feature_names[fid], end=' ')
    print()

0 people book life year thing day time family child friend school mother man way parent
1 film movie song music album fan actor band artist festival story release director star character
2 campaign election party voter vote candidate nominee debate poll state president policy convention email senator
3 player game team season club manager football coach ball match goal fan thunder league time
4 woman man gender girl gap harassment sex assault health right dress pay virus future family
5 police officer violence city shooting gun video protest protester people gang killing rally man member
6 athlete law judge court case prosecutor pipeline lawsuit prison state charge official sport trial attorney
7 company trade driver rate business technology market space government world economy climate year car report
8 refugee government country border child people official year family camp crackdown campaign deal resettlement friend
9 force civilian city rebel regime fighter war ceasefire government airstrike area militia troop resident strike

In [69]:
new_articles = [
    "The Atlanta Falcons will never win a super bowl",
    "Germany scored 7 goals against Brazil in worldcup semi-finals"
]

In [70]:
cls.transform(vec.transform(new_articles)).argsort(axis=1)[:,-1]

array([3, 9])